.jumbotron {
    background-color: rgb(148, 206, 172);
    color: black;
    padding: 20px 20px 20px 20px;
}

.btn {
    color:black

}

footer {
    background-color: aquamarine;
    margin-bottom: 0px;
    margin-top: 20px;
    padding: 10px 10px 0px 10px;
}

.cardStore {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 20px;

}

.btn-compra {
    width: 100%;
}